--- drivers/cpufreq/Kconfig	2011-11-30 01:52:01.000000000 -0600
+++ drivers/cpufreq/Kconfig	2012-07-06 17:45:58.000000000 -0500
@@ -258,4 +310,14 @@
 
 	  If in doubt, say N.
 
+config CPU_FREQ_GOV_LIONHEART
+	tristate "'Lionheart' cpufreq governor"
+	depends on CPU_FREQ
+	help
+	  'Lionheart' - A brave and agile conservative-based governor.
+config CPU_FREQ_GOV_INTERACTIVEX
+	tristate "'interactiveX' cpufreq policy governor"
+	help
+	  'interactiveX' - Modified version of interactive with sleep+wake code.
+
 endif	# CPU_FREQ
